<configuration>

    <property name="EVENT_LOG_FILE" value="${eventLogFile:-./simulation.log}" />
    <property name="PROGRAM_LOG_FILE" value="./program.log" />

    <appender name="PROGRAM_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${PROGRAM_LOG_FILE}</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EVENT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${EVENT_LOG_FILE}</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <if condition='property("logLevel").equals("DEBUG")'>
        <then>
            <logger name="EVENT_LOGGER" level="DEBUG" additivity="false">
                <appender-ref ref="EVENT_FILE"/>
                <appender-ref ref="PROGRAM_FILE"/>
            </logger>
        </then>
        <else>
            <logger name="EVENT_LOGGER" level="DEBUG" additivity="false">
                <appender-ref ref="EVENT_FILE"/>
            </logger>
        </else>
    </if>

    <root level="${logLevel:-WARNING}">
        <appender-ref ref="PROGRAM_FILE"/>
    </root>

</configuration>
