simulator/target/
simulator/!.mvn/wrapper/maven-wrapper.jar
simulator/!**/src/main/**/target/
simulator/!**/src/test/**/target/
simulator/.kotlin

### IntelliJ IDEA ###
simulator/.idea/modules.xml
simulator/.idea/jarRepositories.xml
simulator/.idea/compiler.xml
simulator/.idea/libraries/
simulator/.idea/encodings.xml
simulator/.idea/misc.xml
simulator/*.iws
simulator/*.iml
simulator/*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Warehouse Simulator ###
simulator/simulation.log
simulator/program.log
simulator/data/big
